* {
    padding: 0px;
    margin:0px;
}
body{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: aliceblue;
background-image: linear-gradient(145deg, rgb(12, 10, 10), rgb(116, 116, 116));
background-repeat: no-repeat;
height:100vh;
width:100vw;
}


h1{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align:center;
padding: 10px;
margin-top: 10px;}


p{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:1.2em;
padding:1.5em;
margin-top: 10px;
}

.app{text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: larger;
box-shadow: 1px 3px 20px;}

ul{display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    box-shadow: 1px 2px 20px black;
    padding: 10px;
    color:aliceblue;
    text-decoration:none;
    border-radius: 100px;
}
a{color: aliceblue;
text-decoration: none;
padding: 5px;}